version: "3.9"

services:
  # backend:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - .:/app
  #     - /app/obj
  #     - /app/bin
  #   environment:
  #     ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=postgres;Username=postgres;Password=yangyang"
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   command: dotnet watch --project Api/Api.csproj run --urls=http://0.0.0.0:5000

  # nginx:
  #   image: nginx:latest
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #   depends_on:
  #     - backend

  seq:
    image: datalust/seq:latest
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - "5341:80"

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yangyang
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 10
      timeout: 5s

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: sandbox-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

  redis:
    image: redis:latest
    container_name: sandbox-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:latest
    container_name: sandbox-mailpit
    ports:
      - "8025:8025"  # Web UI
      - "1025:1025"  # SMTP
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: sandbox-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    restart: unless-stopped

volumes:
  pgdata:
  redis-data:
