name: CI/CD backend Production

on:
  push:
    branches:
      - main

jobs:
  deploy-prod:
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore sandbox.sln

      - name: Build backend
        run: dotnet build Api/Api.csproj -c Release --no-restore

      - name: Run tests
        run: dotnet test --no-build --verbosity normal

      - name: Build Docker image
        run: docker build -f Dockerfile.prod -t api .

      - name: Deploy to Render via Hook
        run: |
            curl -X POST "https://api.render.com/deploy/srv-d4pj37p5pdvs7386rgg0?key=Lw0tW0nHu0Q"


